<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>LoginPage</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>WEB-INF/LoginPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Login -->
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>JavaProject.LoginService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <!-- Usuários -->
    <servlet>
        <servlet-name>Users</servlet-name>
        <jsp-file>WEB-INF/Users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>User</servlet-name>
        <jsp-file>WEB-INF/User.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserService</servlet-name>
        <servlet-class>JavaProject.UserService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserService</servlet-name>
        <url-pattern>/UserService</url-pattern>
    </servlet-mapping>
    <!-- Treinadores -->
    <servlet>
        <servlet-name>Trainers</servlet-name>
        <jsp-file>WEB-INF/Trainers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trainers</servlet-name>
        <url-pattern>/Trainers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Trainer</servlet-name>
        <jsp-file>WEB-INF/Trainer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trainer</servlet-name>
        <url-pattern>/Trainer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainerService</servlet-name>
        <servlet-class>JavaProject.TrainerService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainerService</servlet-name>
        <url-pattern>/TrainerService</url-pattern>
    </servlet-mapping>
    <!-- Pokemon -->
    <servlet>
        <servlet-name>Pokemons</servlet-name>
        <jsp-file>WEB-INF/Pokemons.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pokemons</servlet-name>
        <url-pattern>/Pokemons</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pokemon</servlet-name>
        <jsp-file>WEB-INF/Pokemon.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pokemon</servlet-name>
        <url-pattern>/Pokemon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PokemonService</servlet-name>
        <servlet-class>JavaProject.PokemonService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokemonService</servlet-name>
        <url-pattern>/PokemonService</url-pattern>
    </servlet-mapping>
    <!-- Outras configurações -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
